.buttons {
    &__save {
        color: #000000;
        margin-right: 2rem;

        &:hover,
        &:focus,
        &:active,
        &:visited {
            color: #000000;
        }

        @media screen and (max-width: 1100px) {
            margin-bottom: 1rem;
        }
    }
}