.modal {
    display: none;
    flex-direction: column;

    &--show {
        display: flex;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__preset-name {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__btn-add-name {
        margin-bottom: 1rem;
    }
}