.photo {
    width: 50%;
    margin-right: 2rem;

    @media screen and (max-width: 1000px) {
        width: 100%;
    }

    &__dropbox {
        border: 1px dashed #000000;
        position: relative;

        &:hover::after {
            display: block;
        }

        &::after {
            display: none;
            content: "";
            position: absolute;
            width: 15rem;
            height: 15rem;
            top: 40%;
            left: 50%;
            background-image: url('../img/dragdrop.svg');
            background-repeat: no-repeat;
            opacity: 0.5;
        }
    }
}