.rotate {
    margin-bottom: 1rem;

    &__button {
        background-repeat: no-repeat;
        width: 4rem;
        height: 4rem;
        display: block;
        background-size: 50%;
        background-position: center center;
        margin-right: 1rem;

        &--left {
            background-image: url(../img/rotate.svg);
        }

        &--right {
            background-image: url(../img/rotate.svg);
            transform: rotate(180deg);
        }

        &--down {
            background-image: url(../img/down.svg);
            background-size: 80%;
            background-position-y: 0.2rem;
        }

        &--mirror {
            background-image: url(../img/mirror.svg);
        }
    }

    &__wrap {
        display: flex;
    }
}