.stickers {
    margin-bottom: 1rem;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px solid grey;
        padding: 1rem;
        border-radius: 4px;
        height: 20rem;
        overflow: scroll;
        margin-bottom: 2rem;
    }

    &__item {
        width: 30%;
        padding: 1rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}