.text {
    display: flex;
    flex-direction: column;

    &__input {
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    &__add {
        width: 45%;
    }

    &__delete {
        width: 45%;
    }

    &__wrap {
        display:flex;
        justify-content:space-around;
    }
}