.tools {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    width: 45%;
    margin-left: auto;
    height: 100vh;
    overflow: scroll;
    border: 1px dashed #000000;
    padding: 1rem;

    
    @media screen and (max-width: 1000px) {
        margin-top: 2rem;
        width: 100%;
    }

    &__item {
        margin-bottom: 3rem;
    }

    &__subtitle {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }

    &__upload-label {
        padding-left: 5rem;
        padding-right: 5rem;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            left: 3.5rem;
            top: 30%;
            background-image: url("../img/upload.svg");
            background-repeat: no-repeat;
        }
    }

    &__item-wrap {
        margin-bottom: 1.5rem;
    }
}