.webcamera {
    display: none;
    width: 80%;
    border: 1px dashed #000000;
    position: absolute;
    top: 2rem;
    background-color: #DEE3E3;
    left: 10%;
    flex-direction: column;
    padding: 2rem;
    

    &--show {
        display: flex;
    }

    &__wrap {
        align-self: center;
        display: flex;
    }

    &__make-photo {
        margin-right: 2rem;
    }

    &__video {
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 720px) {
        width: 100%;
        top: 2rem;
        left: 0;
    }

}